body{
  width: 100vh;
  height: 100vw;
  font-family: "Poppins", sans-serif;
}

.poppins-regular{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-semibold{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.lora{
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
}

a{
  font-family: "Poppins", sans-serif;
  border: none;
  color: #FFFF;
}

.redirecionamento{
  margin-right: 250px;
  display: flex;
  justify-content: space-around;
  width: 25%;
  padding-left: 2% ;
}

.navbar{
  margin-left: -1%;
  background-color: #0050a3;
  width: 213%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
}

.Logo{
  height: 75px;
  padding-left: 2%;
  margin: 5px;
}

#usr{
  background: url("img/iconePesquisa.png") no-repeat left / 1.8em;
  padding-left: 3em;
  border-radius: 8px;
  width: 13%;
  background-color: whitesmoke;
  border: none;
  height: 20px;
}

input::placeholder{
  color: #0050a3;
}
.icones{
  margin-left: 100px;
}

#dashboard{
  border: none;
  background: url("img/iconePerfil.png")  no-repeat left / 2.2em;
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

#carrinho{
  border: none;
  background: url("img/carrinho.png")  no-repeat left / 2.2em;
  height: 30px;
  width: 30px;
}

#favoritos{
  border: none;
  background: url("img/favoritos.png")  no-repeat left / 2.2em;
  height: 30px;
  width: 30px;
  margin-left: 10px;
}
